@model QuanLyBanHang.Models.LoaiSPDto
@{
    ViewBag.Title = "Chi tiết Loại sản phẩm";
}

<div class="container">
    <h4 class="text-success mb-3">
        Chi tiết Loại sản phẩm
    </h4>

    <div class="border p-4 rounded shadow-sm bg-light">
            <p><strong>@Html.DisplayNameFor(m => m.MaLoai):</strong> @Model.MaLoai</p>
            <p><strong>@Html.DisplayNameFor(m => m.TenLoai):</strong> @Model.TenLoai</p>
            <p><strong>Nhóm sản phẩm:</strong> @Model.TenNhom</p>
    </div>

   <div class=" mt-4">
        <a class="btn btn-warning text-white me-2" href="@Url.Action("Edit", "LoaiSP", new { id = Model.MaLoai })">
            <i class="fa-solid fa-pen-to-square"></i> Sửa
        </a>
        <a class="btn btn-danger me-2 text-white" href="@Url.Action("Delete", "LoaiSP", new { id = Model.MaLoai })">
            <i class="fa-solid fa-trash"></i> Xóa
        </a>
        <button type="button" onclick="history.back()" class="btn btn-secondary">
            <i class="fa-solid fa-arrow-left"></i> Quay lại
        </button>
   </div>
</div>