@model IEnumerable<QuanLyBanHang.Models.LoaiSPDto>

@if (Model != null && Model.Any())
{
    @foreach (var item in Model)
    {
        <tr class="clickable-row" data-href="@Url.Action("Details", "LoaiSP", new { id = item.MaLoai })">

            <td>@item.MaLoai</td>
            <td>@item.TenLoai</td>
            <td>@item.MaNhom</td>
            <td>@item.TenNhom</td>

        </tr>
    }
}
else
{
    <tr>
        <td colspan="8" class="text-center text-muted fst-italic">Không có loại sản phẩm nào.</td>
    </tr>
}
