@model QuanLyBanHang.Models.NhanVien
@{
    ViewBag.Title = "Chi tiết Nhân Viên";
}

<div class=" container">
    <h4 class="text-success mb-3">
        Chi tiết Nhân Viên
    </h4>

    <div class="border p-4 rounded shadow-sm bg-light">
            <p><strong>@Html.DisplayNameFor(m => m.MaNV):</strong> @Model.MaNV</p>
            <p><strong>@Html.DisplayNameFor(m => m.TenNV):</strong> @Model.TenNV</p>
            <p><strong>@Html.DisplayNameFor(m => m.VaiTro):</strong> @Model.VaiTro</p>
            <p><strong>@Html.DisplayNameFor(m => m.TenDNNV):</strong> @Model.TenDNNV</p>
            <p><strong>@Html.DisplayNameFor(m => m.MatKhauNV):</strong> ********</p>
    </div>

    <div class="mt-4">
        <a class="btn btn-warning text-white me-2" href="@Url.Action("Edit", "NhanVien", new { id = Model.MaNV })">
            <i class="fa-solid fa-pen-to-square"></i> Sửa
        </a>
        <a class="btn btn-danger me-2 text-white" href="@Url.Action("Delete", "NhanVien", new { id = Model.MaNV })">
            <i class="fa-solid fa-trash"></i> Xóa
        </a>
        <a asp-action="Index" class="btn btn-secondary">
            <i class="fa-solid fa-arrow-left"></i> Quay lại
        </a>
    </div>
</div>
