@model IEnumerable<QuanLyBanHang.Models.DonBanHang>

@if (Model != null && Model.Any())
{
    foreach (var item in Model)
    {
        <tr class="clickable-row" data-href="@Url.Action("Details", "DonBanHang", new { id = item.MaDBH })">

            <td>@item.MaDBH</td>
            <td>@item.NgayBH.ToString("dd/MM/yyyy")</td>
            <td>@item.MaKH</td>
            <td>@item.TenKH</td>
            
        </tr>
    }
}
else
{
    <tr>
        <td colspan="5" class="text-muted fst-italic">Không có đơn hàng nào.</td>
    </tr>
}
