@model QuanLyBanHang.Models.KhachHang
@{
    ViewBag.Title = "Chi tiết Khách hàng";
}

<div class="container">
    <h4 class="text-info mb-3">
        <i class="fa-solid fa-eye"></i> Chi tiết Khách hàng
    </h4>

    <div class="card shadow-sm border-info">
        <div class="card-body">
            <p><strong><i class="fa-solid fa-hashtag"></i> Mã KH:</strong> @Model.MaKH</p>
            <p><strong><i class="fa-solid fa-id-badge"></i> Tên KH:</strong> @Model.TenKH</p>
            <p><strong><i class="fa-solid fa-phone"></i> Điện thoại:</strong> @Model.DienThoaiKH</p>
            <p><strong><i class="fa-solid fa-envelope"></i> Email:</strong> @Model.EmailKH</p>
            <p><strong><i class="fa-solid fa-location-dot"></i> Địa chỉ:</strong> @Model.DiaChiKH</p>
        </div>
    </div>

   <div class=" mt-3">
       
        <a class="btn btn-warning text-white" href="@Url.Action("Edit", "KhachHang", new { id = Model.MaKH })">
            <i class="fa-solid fa-pen-to-square"></i> Sửa
        </a>
        <a asp-action="Index" class="btn btn-secondary">
            <i class="fa-solid fa-arrow-left"></i> Quay lại
        </a>
   </div>

</div>