@model QuanLyBanHang.Models.KhachHangDetailView
@{
    ViewBag.Title = "Chi tiết Khách hàng";
}

<div class="container">
    <h4 class="text-success mb-3">
        Chi tiết Khách hàng
    </h4>

    <div class="border p-4 rounded shadow-sm bg-light">
        <div class="row">
            <!-- Ảnh minh họa -->
            <div class="col-md-5 text-center">
                <img src="@Url.Content("~/images/"+Model.AnhKH)"
                     alt="@Model.AnhKH"
                     class="img-fluid rounded"
                     style="max-height: 400px; object-fit: contain;" />
            </div>

            <!-- Thông tin sản phẩm -->
            <div class="col-md-7">
                <div class="p-3">
                    <h4 class="text-primary mb-3">@Model.TenKH</h4>
                    <p><strong>Mã khách hàng:</strong> @Model.MaKH</p>

                    <div class="row mt-3">
                        <p><strong>Điện thoại:</strong> @Model.DienThoaiKH</p>
                        <p><strong>Email:</strong> @Model.EmailKH</p>
                        <p><strong>Địa chỉ:</strong> @Model.DiaChiKH, @Model.TenXa, @Model.TenTinh</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

   <div class=" mt-4">
       
        <a class="btn btn-warning text-white me-2" href="@Url.Action("Edit", "KhachHang", new { id = Model.MaKH })">
            <i class="fa-solid fa-pen-to-square"></i> Sửa
        </a>
        <a class="btn btn-danger me-2 text-white" href="@Url.Action("Delete", "KhachHang", new { id = Model.MaKH })">
            <i class="fa-solid fa-trash"></i> Xóa
        </a>
        <a asp-action="Index" class="btn btn-secondary">
            <i class="fa-solid fa-arrow-left"></i> Quay lại
        </a>
   </div>
    
</div>