@model IEnumerable<QuanLyBanHang.Models.KhachHang>

@if (Model != null && Model.Any())
{
    @foreach (var item in Model)
    {
        <tr class="clickable-row" data-href="@Url.Action("Details", "KhachHang", new { id = item.MaKH })">

            <td>@item.MaKH</td>
            <td>@item.TenKH</td>
            <td>@item.DienThoaiKH</td>
            <td>@item.EmailKH</td>
            <td>@item.DiaChiKH</td>
          
        </tr>
    }
}
else
{
    <tr>
        <td colspan="8" class="text-center text-muted fst-italic">Không có khách hàng nào.</td>
    </tr>
}
