@model IEnumerable<QuanLyBanHang.Models.DonMuaHang>

@if (Model != null && Model.Any())
{
    foreach (var item in Model)
    {
        <tr class="clickable-row" data-href="@Url.Action("Details", "DonMuaHang", new { id = item.MaDMH })">

            <td>@item.MaDMH</td>
            <td>@item.NgayMH.ToString("dd/MM/yyyy")</td>
            <td>@item.MaNCC</td>
            <td>@item.TenNCC</td>
            
        </tr>
    }
}
else
{
    <tr>
        <td colspan="5" class="text-muted fst-italic">Không có đơn hàng nào.</td>
    </tr>
}
