@model QuanLyBanHang.Models.Xa
@{
    ViewBag.Title = "Chi tiết Xã";
}

<div class="container">
    <h4 class="text-success mb-3">
        Chi tiết Xã
    </h4>

    <div class="border p-4 rounded shadow-sm bg-light">
            <p><strong>Mã Xã:</strong> @Model.MaXa</p>
            <p><strong>Xã:</strong> @Model.TenXa</p>
            <p><strong>Tỉnh:</strong> @Model.TenTinh</p>
    </div>

    <div class="mt-4">
        <a class="btn btn-warning text-white me-2" href="@Url.Action("Edit", "Xa", new { id = Model.MaXa })">
            <i class="fa-solid fa-pen-to-square"></i> Sửa
        </a>
        <a class="btn btn-danger me-2 text-white" href="@Url.Action("Delete", "Xa", new { id = Model.MaXa })">
            <i class="fa-solid fa-trash"></i> Xóa
        </a>
        <a asp-action="Index" class="btn btn-secondary">
            <i class="fa-solid fa-arrow-left"></i> Quay lại
        </a>
    </div>
</div>