@model QuanLyBanHang.Models.TrangThaiBH
@{
    ViewBag.Title = "Chi tiết Trạng thái đơn hàng";
}

<div class="container">
    <h4 class="text-success mb-3">
        Chi tiết Trạng thái đơn hàng
    </h4>

    <div class="border p-4 rounded shadow-sm bg-light">
        <p><strong>@Html.DisplayNameFor(m => m.MaTTBH):</strong> @Model.MaTTBH</p>
        <p><strong>@Html.DisplayNameFor(m => m.TenTTBH):</strong> @Model.TenTTBH</p>
    </div>

    <div class="mt-4">
        <a class="btn btn-warning text-white me-2" href="@Url.Action("Edit", "TrangThaiBH", new { id = Model.MaTTBH })">
            <i class="fa-solid fa-pen-to-square"></i> Sửa
        </a>
        <a class="btn btn-danger me-2 text-white" href="@Url.Action("Delete", "TrangThaiBH", new { id = Model.MaTTBH })">
            <i class="fa-solid fa-trash"></i> Xóa
        </a>
        <button type="button" onclick="history.back()" class="btn btn-secondary">
            <i class="fa-solid fa-arrow-left"></i> Quay lại
        </button>
    </div>
</div>

