@model QuanLyBanHang.Models.SanPhamDto

@{
    ViewBag.Title = "Chi tiết Sản phẩm";
}

<div class="container my-4">
    <h3 class="text-success mb-4">
        Chi tiết Sản phẩm
    </h3>

    <div class="shadow-sm">
        <div class="row">
            <!-- Ảnh minh họa -->
            <div class="col-md-5 text-center mt-4">
                        <img src="@Url.Content("~/images/" + Model.AnhMH)"
                             alt="@Model.TenSP"
                             class="img-fluid rounded border mt-4"
                             style="max-height: 400px; object-fit: contain;" />
            </div>

            <!-- Thông tin sản phẩm -->
            <div class="col-md-7">
                <div class="p-3">
                    <h4 class="text-success mb-3">@Model.TenSP</h4>
                    <p><strong>Mã sản phẩm:</strong> @Model.MaSP</p>
                    <p><strong>Mô tả:</strong> @Model.MoTaSP</p>
                    <p><strong>Thành phần:</strong> @Model.ThanhPhan</p>
                    <p><strong>Công dụng:</strong> @Model.CongDung</p>
                    <p><strong>Hướng dẫn sử dụng:</strong> @Model.HDSD</p>
                    <p><strong>Bảo quản:</strong> @Model.BaoQuan</p>

                    <div class="row">
                        <p class="col-md-6"><strong>Đơn giá:</strong> @string.Format("{0:N0} đ", Model.DonGia)</p>
                        <p class="col-md-6"><strong>Giá bán:</strong> @string.Format("{0:N0} đ", Model.GiaBan)</p>
                        <p class="col-md-6"><strong>Số lượng tồn:</strong> @Model.SoLuongTon</p>
                        <p class="col-md-6"><strong>Trạng thái:</strong> @Model.TrangThai</p>
                        <p class="col-md-6"><strong>Loại sản phẩm:</strong> @Model.TenLoai</p>
                        <p class="col-md-6"><strong>Hãng sản xuất:</strong> @Model.TenHang</p>
                        <p class="col-md-6"><strong>Xuất xứ:</strong> @Model.XuatXu </p>
                    </div>                    
                </div>
            </div>
        </div>
    </div>

    <div class="mt-4">
        <a class="btn btn-warning me-2 text-white" href="@Url.Action("Edit", "SanPham", new { id = Model.MaSP })">
            <i class="fa-solid fa-pen-to-square text-white"></i> Sửa
        </a>

        <a class="btn btn-danger me-2 text-white" href="@Url.Action("Delete", "SanPham", new { id = Model.MaSP })">
            <i class="fa-solid fa-trash"></i> Xóa
        </a>

        <a class="btn btn-secondary" href="@Url.Action("Index", "SanPham")">
            <i class="fa-solid fa-arrow-left"></i> Quay lại
        </a>

    </div>
</div>
