@model QuanLyBanHang.Models.NhaCC
@{
    ViewBag.Title = "Chi tiết Nhà Cung Cấp";
}

<div class="container">
    <h4 class="text-success mb-3">
        Chi tiết Nhà Cung Cấp
    </h4>

    <div class="border p-4 rounded shadow-sm bg-light">
            <p><strong>Mã NCC:</strong> @Model.MaNCC</p>
            <p><strong>Tên NCC:</strong> @Model.TenNCC</p>
            <p><strong>Điện thoại:</strong> @Model.DienThoaiNCC</p>
            <p><strong>Email:</strong> @Model.EmailNCC</p>
            <p><strong>Địa chỉ:</strong> @Model.DiaChiNCC</p>       
        
    </div>

    <div class="mt-4">
        <a class="btn btn-warning text-white me-2" href="@Url.Action("Edit", "NhaCC", new { id = Model.MaNCC })">
            <i class="fa-solid fa-pen-to-square"></i> Sửa
        </a>
        <a class="btn btn-danger me-2 text-white" href="@Url.Action("Delete", "NhaCC", new { id = Model.MaNCC })">
            <i class="fa-solid fa-trash"></i> Xóa
        </a>
        <a asp-action="Index" class="btn btn-secondary">
            <i class="fa-solid fa-arrow-left"></i> Quay lại
        </a>
    </div>
</div>
