@model IEnumerable<QuanLyBanHang.Models.NhaCC>

@if (Model != null && Model.Any())
{
    @foreach (var item in Model)
    {
        <tr class="clickable-row" data-href="@Url.Action("Details", "NhaCC", new { id = item.MaNCC })">

            <td>@item.MaNCC</td>
            <td>@item.TenNCC</td>
            <td>@item.DienThoaiNCC</td>
            <td>@item.EmailNCC</td>
            <td>@item.DiaChiNCC</td>
            
        </tr>
    }
}
else
{
    <tr>
        <td colspan="8" class="text-center text-muted fst-italic">Không có gian hàng nào.</td>
    </tr>
}
