@model QuanLyBanHang.Models.GianHang
@{
    ViewBag.Title = "Chi tiết Gian hàng";
}

<div class="container">
    <h4 class="text-success mb-3">
        Chi tiết Gian hàng
    </h4>

    <div class="border p-4 rounded shadow-sm bg-light"">
            <p><strong>Mã GH:</strong> @Model.MaGH</p>
            <p><strong>Tên GH:</strong> @Model.TenGH</p>
            <p><strong>Mô tả:</strong> @Model.MoTaGH</p>
            <p><strong>Ngày tạo:</strong> @Model.NgayTao</p>
            <p><strong>Điện thoại:</strong> @Model.DienThoaiGH</p>
            <p><strong>Email:</strong> @Model.EmailGH</p>
            <p><strong>Địa chỉ:</strong> @Model.DiaChiGH, @Model.TenXa, @Model.TenTinh</p>
    </div>

   <div class="mt-4">
        <a class="btn btn-warning text-white me-2" href="@Url.Action("Edit", "GianHang", new { id = Model.MaGH })">
            <i class="fa-solid fa-pen-to-square"></i> Sửa
        </a>
        <a class="btn btn-danger me-2 text-white" href="@Url.Action("Delete", "GianHang", new { id = Model.MaGH })">
            <i class="fa-solid fa-trash"></i> Xóa
        </a>
        <a asp-action="Index" class="btn btn-secondary">
            <i class="fa-solid fa-arrow-left"></i> Quay lại
        </a>
    </div>
</div>


