@model QuanLyBanHang.Models.GianHang
@{
    ViewBag.Title = "Chi tiết Gian hàng";
}

<div class="container">
    <h4 class="text-info mb-3">
        <i class="fa-solid fa-eye"></i> Chi tiết Gian hàng
    </h4>

    <div class="card shadow-sm border-info">
        <div class="card-body">
            <p><strong><i class="fa-solid fa-hashtag"></i> Mã GH:</strong> @Model.MaGH</p>
            <p><strong><i class="fa-solid fa-id-badge"></i> Tên GH:</strong> @Model.TenGH</p>
            <p><strong><i class="fa-solid fa-id-badge"></i>Mô tả:</strong> @Model.MoTaGH</p>
            <p><strong><i class="fa-solid fa-id-badge"></i>Ngày tạo:</strong> @Model.NgayTao</p>
            <p><strong><i class="fa-solid fa-phone"></i> Điện thoại:</strong> @Model.DienThoaiGH</p>
            <p><strong><i class="fa-solid fa-envelope"></i> Email:</strong> @Model.EmailGH</p>
            <p><strong><i class="fa-solid fa-location-dot"></i> Địa chỉ:</strong> @Model.DiaChiGH</p>
        </div>
    </div>

   <div class="mt-3">
        <a class="btn btn-warning text-white" href="@Url.Action("Edit", "GianHang", new { id = Model.MaGH })">
            <i class="fa-solid fa-pen-to-square"></i> Sửa
        </a>
        <a asp-action="Index" class="btn btn-secondary">
            <i class="fa-solid fa-arrow-left"></i> Quay lại
        </a>
    </div>
</div>


