@model IEnumerable<QuanLyBanHang.Models.GianHang>   

@if (Model != null && Model.Any())
{
    foreach (var item in Model)
    {
        <tr class="clickable-row" data-href="@Url.Action("Details", "GianHang", new { id = item.MaGH })">

            <td>@item.MaGH</td>
            <td>@item.TenGH</td>
            <td>@item.MoTaGH</td>
            <td>@item.DienThoaiGH</td>
            <td>@item.EmailGH</td>
            <td>@item.DiaChiGH</td>
           
        </tr>
    }
}
else
{
    <tr>
        <td colspan="8" class="text-center text-muted fst-italic">Không có gian hàng nào.</td>
    </tr>
}
