@model QuanLyBanHang.Models.TrangThai
@{
    ViewBag.Title = "Chi tiết Trạng thái";
}

<div class="container">
    <h4 class="text-success mb-3">
        Chi tiết Trạng thái
    </h4>

    <div class="border p-4 rounded shadow-sm bg-light">
        <p><strong>@Html.DisplayNameFor(m => m.MaTT):</strong> @Model.MaTT</p>
        <p><strong>@Html.DisplayNameFor(m => m.TenTT):</strong> @Model.TenTT</p>
    </div>

    <div class="mt-4">
        <a class="btn btn-warning text-white me-2" href="@Url.Action("Edit", "TrangThai", new { id = Model.MaTT })">
            <i class="fa-solid fa-pen-to-square"></i> Sửa
        </a>
        <a class="btn btn-danger me-2 text-white" href="@Url.Action("Delete", "TrangThai", new { id = Model.MaTT })">
            <i class="fa-solid fa-trash"></i> Xóa
        </a>
        <button type="button" onclick="history.back()" class="btn btn-secondary">
            <i class="fa-solid fa-arrow-left"></i> Quay lại
        </button>
    </div>
</div>

